<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="yira.example.user.nandehymnalebook">

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@drawable/ic_app_hymn_round"
        android:label="@string/app_name"
        android:logo="@drawable/ic_app_hymn_round"
        android:roundIcon="@mipmap/ic_app_hymn_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">
        <activity
            android:name=".firstone"
            android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <!--
       <meta-data

           android:name="com.google.android.gms.ads.ca-app-pub-1941505919262658~4500013525"
           android:value="[ADMOB_ca-app-pub-1941505919262658~4500013525]"/>
        -->
        <activity
            android:name=".MainActivity"
            android:exported="false">

        </activity>
        <activity android:name=".number1" />
        <activity android:name=".number2" />
        <activity android:name=".number3" />
        <activity android:name=".number4" />
        <activity android:name=".number5" />
        <activity android:name=".number6" />
        <activity android:name=".number7" />
        <activity android:name=".number8" />
        <activity android:name=".number9" />
        <activity android:name=".number10" />
        <activity android:name=".number11" />
        <activity android:name=".number12" />
        <activity android:name=".number13" />
        <activity android:name=".number14" />
        <activity android:name=".number15" />
        <activity android:name=".number16" />
        <activity android:name=".number17" />
        <activity android:name=".number18" />
        <activity android:name=".number19" />
        <activity android:name=".number20" />
        <activity android:name=".number21" />
        <activity android:name=".number22" />
        <activity android:name=".number23" />
        <activity android:name=".number24" />
        <activity android:name=".number25" />
        <activity android:name=".number26" />
        <activity android:name=".number27" />
        <activity android:name=".number28" />
        <activity android:name=".number29" />
        <activity android:name=".number30" />
        <activity android:name=".number31" />
        <activity android:name=".number32" />
        <activity android:name=".number33" />
        <activity android:name=".number34" />
        <activity android:name=".number35" />
        <activity android:name=".number36" />
        <activity android:name=".number37" />
        <activity android:name=".number38" />
        <activity android:name=".number39" />
        <activity android:name=".number40" />
        <activity android:name=".number41" />
        <activity android:name=".number42" />
        <activity android:name=".number43" />
        <activity android:name=".number44" />
        <activity android:name=".number45" />
        <activity android:name=".number46" />
        <activity android:name=".number47" />
        <activity android:name=".number48" />
        <activity android:name=".number49" />
        <activity android:name=".number50" />
        <activity android:name=".number51" />
        <activity android:name=".number52" />
        <activity android:name=".number53" />
        <activity android:name=".number54" />
        <activity android:name=".number55" />
        <activity android:name=".number56" />
        <activity android:name=".number57" />
        <activity android:name=".number58" />
        <activity android:name=".number59" />
        <activity android:name=".number60" />
        <activity android:name=".number61" />
        <activity android:name=".number62" />
        <activity android:name=".number63" />
        <activity android:name=".number64" />
        <activity android:name=".number65" />
        <activity android:name=".number66" />
        <activity android:name=".number67" />
        <activity android:name=".number68" />
        <activity android:name=".number69" />
        <activity android:name=".number70" />
        <activity android:name=".number71" />
        <activity android:name=".number72" />
        <activity android:name=".number73" />
        <activity android:name=".number74" />
        <activity android:name=".number75" />
        <activity android:name=".number76" />
        <activity android:name=".number77" />
        <activity android:name=".number78" />
        <activity android:name=".number79" />
        <activity android:name=".number80" />
        <activity android:name=".number81" />
        <activity android:name=".number82" />
        <activity android:name=".number83" />
        <activity android:name=".number84" />
        <activity android:name=".number85" />
        <activity android:name=".number86" />
        <activity android:name=".number87" />
        <activity android:name=".number88" />
        <activity android:name=".number89" />
        <activity android:name=".number90" />
        <activity android:name=".number91" />
        <activity android:name=".number92" />
        <activity android:name=".number93" />
        <activity android:name=".number94" />
        <activity android:name=".number95" />
        <activity android:name=".number96" />
        <activity android:name=".number97" />
        <activity android:name=".number98" />
        <activity android:name=".number99" />
        <activity android:name=".number100" />
        <activity android:name=".number101" />
        <activity android:name=".number102" />
        <activity android:name=".number103" />
        <activity android:name=".number104" />
        <activity android:name=".number105" />
        <activity android:name=".number106" />
        <activity android:name=".number107" />
        <activity android:name=".number108" />
        <activity android:name=".number109" />
        <activity android:name=".number110" />
        <activity android:name=".number111" />
        <activity android:name=".number112" />
        <activity android:name=".number113" />
        <activity android:name=".number114" />
        <activity android:name=".number115" />
        <activity android:name=".number116" />
        <activity android:name=".number117" />
        <activity android:name=".number118" />
        <activity android:name=".number119" />
        <activity android:name=".number120" />
        <activity android:name=".number121" />
        <activity android:name=".number122" />
        <activity android:name=".number123" />
        <activity android:name=".number124" />
        <activity android:name=".number125" />
        <activity android:name=".number126" />
        <activity android:name=".number127" />
        <activity android:name=".number128" />
        <activity android:name=".number129" />
        <activity android:name=".number130" />
        <activity android:name=".number131" />
        <activity android:name=".number132" />
        <activity android:name=".number133" />
        <activity android:name=".number134" />
        <activity android:name=".number135" />
        <activity android:name=".number136" />
        <activity android:name=".number137" />
        <activity android:name=".number138" />
        <activity android:name=".number139" />
        <activity android:name=".number140" />
        <activity android:name=".number141" />
        <activity android:name=".number142" />
        <activity android:name=".number143" />
        <activity android:name=".number144" />
        <activity android:name=".number145" />
        <activity android:name=".number146" />
        <activity android:name=".number147" />
        <activity android:name=".number148" />
        <activity android:name=".number149" />
        <activity android:name=".number150" />
        <activity android:name=".number151" />
        <activity android:name=".number152" />
        <activity android:name=".number153" />
        <activity android:name=".number154" />
        <activity android:name=".number155" />
        <activity android:name=".number156" />
        <activity android:name=".number157" />
        <activity android:name=".number158" />
        <activity android:name=".number159" />
        <activity android:name=".number160" />
        <activity android:name=".number161" />
        <activity android:name=".number162" />
        <activity android:name=".number163" />
        <activity android:name=".number164" />
        <activity android:name=".number165" />
        <activity android:name=".number166" />
        <activity android:name=".number167" />
        <activity android:name=".number168" />
        <activity android:name=".number169" />
        <activity android:name=".number170" />
        <activity android:name=".number171" />
        <activity android:name=".number172" />
        <activity android:name=".number173" />
        <activity android:name=".number174" />
        <activity android:name=".number175" />
        <activity android:name=".number176" />
        <activity android:name=".number177" />
        <activity android:name=".number178" />
        <activity android:name=".number179" />
        <activity android:name=".number180" />
        <activity android:name=".number181" />
        <activity android:name=".number182" />
        <activity android:name=".number183" />
        <activity android:name=".number184" />
        <activity android:name=".number185" />
        <activity android:name=".number186" />
        <activity android:name=".number187" />
        <activity android:name=".number188" />
        <activity android:name=".number189" />
        <activity android:name=".number190" />
        <activity android:name=".number191" />
        <activity android:name=".number192" />
        <activity android:name=".number193" />
        <activity android:name=".number194" />
        <activity android:name=".number195" />
        <activity android:name=".number196" />
        <activity android:name=".number197" />
        <activity android:name=".number198" />
        <activity android:name=".number199" />
        <activity android:name=".number200" />
        <activity android:name=".Info" />
        <activity android:name=".Liked" />
    </application>

</manifest>